@import "src/index.scss";

.dataItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 258px;
    height: 124px;
    flex-wrap: wrap;
    background-color: #fbfbfb;
    justify-content: space-evenly;
}

.quantity {
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-size: 14px;
    font-weight: 500;
    color: $lightGreyColor;
    margin-top: 10px;
}
